<!DOCTYPE html>
<html>
  <head>
    <title>Resume</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,700|Righteous" rel="stylesheet">
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <img class="img-responsive" id="background" src="image/background.jpeg" />
        </div>
      </div>
      <div class="row">
          <div class="col-md-12">
            #parse( $template )
          </div>
      </div>
    </div>
  </body>
</html>
